<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    <p><a href="/">Accueil</a></p>
    <h1>Créé un potin !</h1>
    <p>Balance ton potin, BG</p>
    <form action='/gossips/new' method='POST'>
      Balance ton blase : <input type='text' name='gossip_author'/><br/>
      Balance ton potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
